<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）信息技术有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/cgal" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/cgal_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">网站首页</a></li>
				<li><a href="/gsjj">关于我们</a></li>
				<li><a href="/xwdt">新闻动态</a></li>
				<li><a href="/jjfa">业务指南</a></li>
				<li><a href="/yhnx">银行内训</a></li>
				<li class="active"><a href="/cgal">成功案例</a></li>
				<li><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/jrzx">金融咨询</a></li>
				<li><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../static/img/content2.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../static/img/images/lmdh.png"/>
				<ul>
					<li class="active" onclick="show('cgal')"><a href="#">成功案例</a></li>								
				</ul>
				<img src="../../static/img/images/qk_11.png"/>
			</div>
			<div class="right" id="cgal">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">成功案例</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <font color="#184554">成功案例</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%">
					<tr>
						<td onclick="show('al1')"><img src="../../static/img/al1.png"/></td>
						<td onclick="show('al2')"><img src="../../static/img/al2.jpg"/></td>
						<td onclick="show('al3')"><img src="../../static/img/al3.png"/></td>
						<td onclick="show('al4')"><img src="../../static/img/al4.jpg"/></td>
					</tr>	
					<tr>						
						<td onclick="show('al5')"><img src="../../static/img/al5.png"/></td>
						<td></td>
						<td></td>
					</tr>						
				</table>
				<div class="showPage">
					<span>共5条 每页10条 页次：1/1</span>
					<span class="pageNum" style="margin-left:370px;">首页</span>					
					<span class="pageNum">上一页</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">下一页</span>	
					<span class="pageNum">尾页</span>				
				</div>
			</div>	
<!--**************************************************姜堰农村商业银行***********************************************-->		
			<div class="right" id="al1" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="/static/img/tip.png"/><span class="title">成功案例</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('cgal')" href="#">成功案例</a> > <font color="#184554">姜堰农村商业银行</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../static/img/al1.png"/></td>
						</tr>
						<tr>
							<td>&nbsp;姜堰农村商业银行</td>
						</tr>
					</table>
				</div>
			</div>	
<!--**************************************************句容农村商业银行***********************************************-->		
			<div class="right" id="al2" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">成功案例</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('cgal')" href="#">成功案例</a> > <font color="#184554">句容农村商业银行</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../static/img/al2.jpg"/></td>
						</tr>
						<tr>
							<td>&nbsp;句容农村商业银行</td>
						</tr>
					</table>
				</div>
			</div>		
<!--**************************************************华夏银行***********************************************-->		
			<div class="right" id="al3" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">成功案例</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('cgal')" href="#">成功案例</a> > <font color="#184554">华夏银行</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../static/img/al3.png"/></td>
						</tr>
						<tr>
							<td>&nbsp;华夏银行</td>
						</tr>
					</table>
				</div>
			</div>		
<!--**************************************************江南农村商业银行***********************************************-->		
			<div class="right" id="al4" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">成功案例</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('cgal')" href="#">成功案例</a> > <font color="#184554">江南农村商业银行</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../static/img/al4.jpg"/></td>
						</tr>
						<tr>
							<td>&nbsp;江南农村商业银行</td>
						</tr>
					</table>
				</div>
			</div>		
<!--**************************************************兴化农村商业银行***********************************************-->		
			<div class="right" id="al5" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">成功案例</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('cgal')" href="#">成功案例</a> > <font color="#184554">兴化农村商业银行</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../static/img/al5.png"/></td>
						</tr>
						<tr>
							<td>&nbsp;兴化农村商业银行</td>
						</tr>
					</table>
				</div>
			</div>					
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../static/img/images/qk_12.png"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span><a href="http://www.qkcardpay.com/">乾康（上海）信息技术有限公司</a>&nbsp;|&nbsp;<a href="http://oa.cardpay-sh.com/">OA</a></span><br/>
			<span>沪ICP备13001462号</span>
		</div>
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
</body>
</html>
