<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Info Tech Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/cgal" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/cgal_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index_En">Home</a></li>
				<li><a href="/gsjj_En">About Us</a></li>
				<li><a href="/xwdt_En">News</a></li>
				<li><a href="/jjfa_En">Business</a></li>
				<li><a href="/yhnx_En">Training</a></li>
				<li class="active"><a href="/cgal_En">Case</a></li>
				<li><a href="/hzhb_En">Partner</a></li>
				<li><a href="/jrzx_En">Financial</a></li>
				<li><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../../static/img/content2_En.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../../static/img/images/lmdh_En.png"/>
				<ul>
					<li class="active" onclick="show('cgal')"><a href="#">Successful Case</a></li>								
				</ul>
				<img src="../../../static/img/images/qk_11_En.png"/>
				<a href="http://qkcardpay.sinaapp.com/"><img src="../../../static/img/images/qk_JRLogo.png" style="width:160px;margin-left:25px;"/></a>
			</div>
			<div class="right" id="cgal">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Successful Case</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <font color="#184554">Successful Case</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%">
					<tr>
						<td onclick="show('al1')"><img src="../../../static/img/al1.png"/></td>
						<td onclick="show('al2')"><img src="../../../static/img/al2.jpg"/></td>
						<td onclick="show('al3')"><img src="../../../static/img/al3.png"/></td>
						<td onclick="show('al4')"><img src="../../../static/img/al4.jpg"/></td>
					</tr>	
					<tr>						
						<td onclick="show('al5')"><img src="../../../static/img/al5.png"/></td>
						<td></td>
						<td></td>
					</tr>						
				</table>
				<div class="showPage">
					<span>Page: 1/1</span>
					<span class="pageNum" style="margin-left:480px;">First</span>					
					<span class="pageNum">Previous</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">Next</span>	
					<span class="pageNum">Last</span>				
				</div>
			</div>	
<!--**************************************************姜堰农村商业银行***********************************************-->		
			<div class="right" id="al1" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Successful Case</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('cgal')" href="#">Successful Case</a> > <font color="#184554">JiangYan Rural Commercial Bank</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../../static/img/al1.png"/></td>
						</tr>
						<tr>
							<td>&nbsp;JiangYan Rural Commercial Bank</td>
						</tr>
					</table>
				</div>
			</div>	
<!--**************************************************句容农村商业银行***********************************************-->		
			<div class="right" id="al2" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Successful Case</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('cgal')" href="#">Successful Case</a> > <font color="#184554">JiangSu JuRong Rural Commercial Bank</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../../static/img/al2.jpg"/></td>
						</tr>
						<tr>
							<td>&nbsp;JiangSu JuRong Rural Commercial Bank</td>
						</tr>
					</table>
				</div>
			</div>		
<!--**************************************************华夏银行***********************************************-->		
			<div class="right" id="al3" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Successful Case</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('cgal')" href="#">Successful Case</a> > <font color="#184554">HUAXIA BANK</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../../static/img/al3.png"/></td>
						</tr>
						<tr>
							<td>&nbsp;HUAXIA BANK</td>
						</tr>
					</table>
				</div>
			</div>		
<!--**************************************************江南农村商业银行***********************************************-->		
			<div class="right" id="al4" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Successful Case</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('cgal')" href="#">Successful Case</a> > <font color="#184554">JiangNan Rural Commercial Bank</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../../static/img/al4.jpg"/></td>
						</tr>
						<tr>
							<td>&nbsp;JiangNan Rural Commercial Bank</td>
						</tr>
					</table>
				</div>
			</div>		
<!--**************************************************兴化农村商业银行***********************************************-->		
			<div class="right" id="al5" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Successful Case</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('cgal')" href="#">Successful Case</a> > <font color="#184554">XingHua Rural Commercial Bank</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<table cellspacing="10">
						<tr>
							<td align="center"><img src="../../../static/img/al5.png"/></td>
						</tr>
						<tr>
							<td>&nbsp;XingHua Rural Commercial Bank</td>
						</tr>
					</table>
				</div>
			</div>					
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../../static/img/images/qk_12.png"/>
			<img src="../../../static/img/images/qk_15.png"/>
			<span><a href="http://qkcardpay.sinaapp.com/">CardPay(Shanghai) Finance Consulting Co.,Ltd.</a>&nbsp;|&nbsp;<a href="http://qkoa.sinaapp.com/">OA</a></span><br/>
			<span>Shanghai ICP for 13001462</span>
		</div>
	</div>
	<script type="text/javascript" src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../../static/js/script.js"></script>
</body>
</html>
