<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）信息技术有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
		.H1{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/hzhb" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/hzhb_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">网站首页</a></li>
				<li><a href="/gsjj">关于我们</a></li>
				<li><a href="/xwdt">新闻动态</a></li>
				<li><a href="/jjfa">业务指南</a></li>
				<li><a href="/yhnx">银行内训</a></li>
				<li><a href="/cgal">成功案例</a></li>
				<li class="active"><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/jrzx">金融咨询</a></li>
				<li><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../../static/img/content-hzhb.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../../static/img/images/lmdh.png"/>
				<ul id="gywm-list">
					<li class="active" onclick="change_div(this,'gsjj')"><a href="#">合作伙伴</a></li>
				</ul>
				<img src="../../../static/img/images/qk_11.png"/>
				<a href="http://www.cardpay-sh.com/"><img src="../../../static/img/images/qk_JRLogo.png" style="width:160px;margin-left:25px;"/></a>
			</div>
			<div class="right" id="gsjj">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">合作伙伴</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <font color="#184554">合作伙伴</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<h1 class="H1">Profit Technologies Corporation (PTC) 公司</h1>
				<div class="xx">
					<p>成 立 于 1973 年 的 <span class="secondStep">Profit Technologies Corporation (PTC) </span>公司 是 一 家 美 国 顾 问 公 司。自公司成立以 来，全 球 各 地的许多 顾 客 都曾 委 托 该 公 司为他们制定增加收 益 的 措 施。PTC 为这些 顾 客 与他 们 的 股 东 提 出 一 系列的 改 善 经营的 策 略。</p>
					<p>除 了在美国 北 卡 罗 莱 纳 州夏 绿 蒂地区的 公司总部外, 该 公 司 还 在 英 国、 德 国、西 班 牙、意 大 利、 澳 洲 与 巴 西 建 立 了 一 列 的 国 际 分公司或办事处。</p>
					<p>在该 公 司 30多 年 的 顾 问 实践中， 为许多 国 家的顾客 提 供了 一 流 的 经营策 略。在 他们的 指 引 下， 顾客获 得 了 总值超 过 一 百 二 十 亿 美 金 的 收 入增 加或 费 用 节省。</p>
					<p class="step">顾 客 服 务宗旨 </p>
					<p>为 顾 客 提出提 高 公 司 与 股 东 的 总 计 收 益的措施。</p>
					<p class="step">顾 问服务 技 巧</p>
					<p>组 织 管 理 严 密 的 顾 问 方 式 为 公司 的 顾 客 提供了各种 提 高公司 收 益 与 降低费用的 策 略。这 些先进的 策 略 是 由 30 多 年 的 顾 问 经 验 总结 出 来 的。 PTC 顾 问 服 务 特 色 就 是 能 为 顾 客 尽 快 地提 出 一 系 列 增 加 收益 与 减 低 费 用 的 措 施。</p>
					<p class="step">客 户</p>
					<p>公司的 客 户是各种不同的 企 业 。在 他 们 的 指 导 下， 他 们 的 客 户 曾 获 得 了 总 计 超 过 一 百 二 十 亿 美 金 的 收 入 增 加 或 费 用 减 低。PTC 也 一 样 可 以 为 您 的 公 司 提 出 有 效 的 提高公司效益和降低公司费用的措施。</p>
					<p class="step">顾 问 组 合 </p>
					<p>PTC 的 全体顾 问 是 该 公 司 的 基 本 力量.各 位 顾 问 都有至 少 20 年 的 顾 问 经 验。 PTC 顾 问 能 在 最 短 时 期 内 发 现 和 提出有效地增加收 入 或 利 益 的 措 施。 他 们的 顾 客 所 取 得 的 受 益 是 最 佳 的。 PTC 公司顾问方式优越性的显著标志是, 它不妨碍顾客的经营活动。</p>
					<p class="step">公司网址</p>
					<p>English：<a href="http://www.profit-tech.com/">www.profit-tech.com</a></p>
					<p>China：<a href="http://www.profit-tech.cn/">www.profit-tech.cn</a></p>
				</div>
			</div>
			
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../../static/img/images/qk_12.png"/>
			<img src="../../../static/img/images/qk_15.png"/>
			<span><a href="http://www.cardpay-sh.com/">乾康（上海）金融信息服务有限公司</a>&nbsp;|&nbsp;<a href="http://qkoa.sinaapp.com/">OA</a></span><br/>
			<span>沪ICP备13001462号</span>
		</div>
	</div>
	<script type="text/javascript" src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../../static/js/script.js"></script>
</body>
</html>
