<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Info Tech Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
		.title{font-weight:normal;font-size:16px;}
		.H1{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/hzhb" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/hzhb_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index_En">Home</a></li>
				<li><a href="/gsjj_En">About Us</a></li>
				<li><a href="/xwdt_En">News</a></li>
				<li><a href="/jjfa_En">Business</a></li>
				<li><a href="/yhnx_En">Training</a></li>
				<li><a href="/cgal_En">Case</a></li>
				<li class="active"><a href="/hzhb_En">Partner</a></li>
				<li><a href="/jrzx_En">Financial</a></li>
				<li><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../static/img/content-hzhb_En.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../static/img/images/lmdh_En.png"/>
				<ul id="gywm-list">
					<li class="active" onclick="change_div(this,'gsjj')"><a href="#">Partner</a></li>
				</ul>
				<img src="../../static/img/images/qk_11_En.png"/>
			</div>
			<div class="right" id="gsjj">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Partner</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <font color="#184554">Partner</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<h1 class="H1">Profit Technologies Corporation (PTC)</h1>
				<div class="xx">
					<p class="step">Introduction</p>
					<p>Profit Technologies Corporation (PTC) is an American consulting Company established in 1973. Since 1973, many customers around the world have entrusted our company for them to develop measures to increase revenue. For these customers and their shareholders, PTC put forward a series of policies to improve the management.</p>
					<p>Headquartered in North Carolina, the company is also in the UK, Germany, Spain, Italy, Australia, and Brazil to establish a series of international branches or offices.</p>
					<p>In our 30 years of consultancy services, provide customers in many countries with the first-class management strategy. In our guidance, they get a total value of more than twelve billion dollars in revenue increased and cost savings.</p>
					<p class="step">Our customer service purposes</p>
					<p>To provide customers with improve total revenue measures of company and shareholders.</p>
					<p class="step">Our consultancy service skills</p>
					<p>The tight organization and management consultancy way for our customers to provide a variety of increase revenue and reduce costs strategy. These advanced strategies are summed up from 30 years of consulting experience. PTC consultancy services is to propose measures of increase revenue and reduce the cost as soon as possible.</p>
					<p class="step">Our customers</p>
					<p>Our costomers are all kinds of different enterprises. In our guidance, our customers have received a total of more than twelve billion dollars in revenue increased or expenses reduced. PTC will also be able to propose effective measures for your company to improve company’s profit and reduce the company’s cost.</p>
					<p class="step">Our consultants</p>
					<p>PTC's all consultants is our basic strength. The consultants have at least 20 years of consulting experience. PTC consultants can propose effective measures to increase revenues or profits in a short period. Our customers can get the best gains. PTC consultancy services superiority was marked that it does not interfere with the customer's business activities.</p>
					<p class="step">Company Website</p>
					<p>English：<a href="http://www.profit-tech.com/">www.profit-tech.com</a></p>
					<p>China：<a href="http://www.profit-tech.cn/">www.profit-tech.cn</a></p>
				</div>
			</div>
			
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../static/img/images/qk_12.png"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span><a href="http://www.cardpay-sh.com/">CardPay(Shanghai) Finance Consulting Co.,Ltd.</a>&nbsp;|&nbsp;<a href="http://qkoa.sinaapp.com/">OA</a></span><br/>
			<span>Shanghai ICP for 13001462</span>
		</div>
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
</body>
</html>
