<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）信息技术有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../static/css/main.css" rel="stylesheet">
	<style type="text/css">		
		*{font-family:Arial;padding:0;margin:0;border:none;overflow:hidden;}
		.floatdiv{ position: absolute; width:175px;cursor:pointer;}
	</style>
	<script type="text/javascript">
		function scall(){			
			sc2();
		}
		window.onscroll=scall;
		window.onresize=scall;
		window.onload=scall;		
		function sc2(){
			document.getElementById("right").style.top=(document.documentElement.scrollTop+(document.documentElement.clientHeight-document.getElementById("right").offsetHeight)/2)+"px";
			document.getElementById("right").style.left=(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById("right").offsetWidth)+4+"px";
		}
		function showsmall(){
			$('#jt').attr('src','../static/img/box.png');
			//document.getElementById("right").style.left=(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById("right").offsetWidth)+140+"px";			
		}
		function showbig(){
			$('#jt').attr('src','../static/img/box1.png');
			//document.getElementById("right").style.left=(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById("right").offsetWidth)+4+"px";
		}
	</script>
</head>

<body onload="scall()">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../static/img/images/logo.png"/>	
			<div style="margin-left:50px;">
				<a href="/index" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/index_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>	
		</div>
		<div class="nav">
			<ul>
				<li class="active"><a href="/index">网站首页</a></li>
				<li><a href="/gsjj">关于我们</a></li>
				<li><a href="/xwdt">新闻动态</a></li>
				<li><a href="/jjfa">业务指南</a></li>
				<li><a href="/yhnx">银行内训</a></li>
				<li><a href="/cgal">成功案例</a></li>
				<li><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/jrzx">金融咨询</a></li>
				<li><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
		<div class="flash-replaced" onclick="window.location.href = '/hzhb'">
			<embed width="1000" height="308" type="application/x-shockwave-flash" src="../static/img/index.swf" pluginspage="http://www.adobe.com/go/getflashplayer" onclick="http://www.cardpay-sh.com/hzhb/"/>
			<a href="/hzhb" style="z-index:2;position:absolute;top:0px;width:995px;height:308px;"></a>
		</div>
		
	<!--**************************************************content***********************************************-->
		<div class="content-index">
			<div class="left">
				<img src="../static/img/images/qk_06.png"/>
				<ul>
					<li><a href="/jjfa">微贷技术导入</a></li>
					<li><a href="/jjfa">信用卡运营咨询</a></li>
					<li><a href="/jjfa">银行应用管理系统</a></li>
					<li><a href="/jjfa">银行自助设备运营管理</a></li>
				</ul>				
				<img src="../static/img/images/qk_11.png"/>
			</div>
			<div class="right1" style="_margin-left:-45px;">
				<a href="/xwdt" style="position:relative;top:40px;margin-left:195px;padding:5px 10px;">&nbsp;</a>
				<ul>
					<li><img src="../static/img/list-style.png"/> <a href="/xwdt">公司与美国PTC达成合作协议</a></li>
				</ul>
			</div>
			<div class="right1" style="background: #ffffff url(../static/img/images/qk_08.png) no-repeat;">
				<a href="/jjfa" style="position:relative;top:40px;margin-left:190px;padding:5px 10px;">&nbsp;</a>
				<ul style="margin-left:45px;">
					<li><img src="../static/img/list-style.png"/> <a href="/jjfa">信用卡业务运营咨询</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jjfa">商业银行自助设备管理服务外包</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jjfa">乾康自助设备管理平台</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jjfa">商业银行微小贷款培训</a></li>
				</ul>
			</div>
			<div class="right1" style="background: #ffffff url(../static/img/images/qk_09.jpg) no-repeat;">
				<a href="/jrzx" style="position:relative;top:40px;margin-left:190px;padding:5px 10px;">&nbsp;</a>
				<ul style="margin-left:45px;">
					<li><img src="../static/img/list-style.png"/> <a href="/jrzx">互联网</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jrzx">行业快讯</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jrzx">银行动态</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jrzx">政策要闻</a></li>
				</ul>
			</div>			
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../static/img/images/qk_12.png"/>
			<img src="../static/img/images/qk_15.png"/>
			<span><a href="http://www.qkcardpay.com/">乾康（上海）信息技术有限公司</a>&nbsp;|&nbsp;<a href="http://oa.cardpay-sh.com/">OA</a></span><br/>
			<span>沪ICP备13001462号</span>
		</div>
		<div id="right" class="floatdiv" style="" align="center" onmouseover="showbig()" onmouseout="showsmall()">
			<!-- <div id="message" onclick="window.location.href = 'http://www.cardpay-sh.com/'" >
				<span>乾康（上海）金融信息服务有限公司点这里<img src="../static/img/jt.png" style="" id="jt"/></span>
			</div> -->
			<a href="http://www.cardpay-sh.com/"><img src="../static/img/box.png" style="width:100%;" id="jt"/></a>
		</div>
	</div>
	<!--**************************************************方案1***********************************************-->
	
	
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
