<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Info Tech Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;padding:0;margin:0;border:none;overflow:hidden;}
		.right1{background: #ffffff url(../static/img/images/qk_07_En.png) no-repeat;}
		.floatdiv{ position: absolute; width:175px;cursor:pointer;}
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9f1d860c127de6cc1682b821235430d9' type='text/javascript'%3E%3C/script%3E"));
		function scall(){			
			sc2();
		}
		window.onscroll=scall;
		window.onresize=scall;
		window.onload=scall;		
		function sc2(){
			document.getElementById("right").style.top=(document.documentElement.scrollTop+(document.documentElement.clientHeight-document.getElementById("right").offsetHeight)/2)+"px";
			document.getElementById("right").style.left=(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById("right").offsetWidth)+4+"px";
		}
		function showsmall(){
			$('#jt').attr('src','../static/img/box_En.png');
			//document.getElementById("right").style.left=(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById("right").offsetWidth)+140+"px";			
		}
		function showbig(){
			$('#jt').attr('src','../static/img/box1_En.png');
			//document.getElementById("right").style.left=(document.documentElement.scrollLeft+document.documentElement.clientWidth-document.getElementById("right").offsetWidth)+4+"px";
		}
	</script>
</head>

<body onload="scall()">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/index" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/index_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li class="active"><a href="/index_En">Home</a></li>
				<li><a href="/gsjj_En">About Us</a></li>
				<li><a href="/xwdt_En">News</a></li>
				<li><a href="/jjfa_En">Business</a></li>
				<li><a href="/yhnx_En">Training</a></li>
				<li><a href="/cgal_En">Case</a></li>
				<li><a href="/hzhb_En">Partner</a></li>
				<li><a href="/jrzx_En">Financial</a></li>
				<li><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="308" wmode="Opaque" type="application/x-shockwave-flash" src="../static/img/index_En.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
			<a href="/hzhb_En" style="z-index:2;position:absolute;top:0px;width:995px;height:308px;"></a>
		</div>

	<!--**************************************************content***********************************************-->
		<div class="content-index">
			<div class="left">
				<img src="../static/img/images/qk_06_En.png"/>
				<ul>
					<li><a href="/jjfa_En">Micro Credit Technology</a></li>
					<li><a href="/jjfa_En">Credit Card Operations</a></li>
					<li><a href="/jjfa_En">Bank Application System</a></li>
					<li><a href="/jjfa_En">Self-service Equipment</a></li>
				</ul>
				<img src="../static/img/images/qk_11_En.png"/>
			</div>
			<div class="right1" style="_margin-left:-45px;">
				<a href="/xwdt_En" style="position:relative;top:40px;margin-left:195px;padding:5px 10px;">&nbsp;</a>
				<ul>
					<li><img src="../static/img/list-style.png"/> <a href="/xwdt_En">Agreements with PTC</a></li>
				</ul>
			</div>
			<div class="right1" style="background: #ffffff url(../static/img/images/qk_08_En.png) no-repeat;">
				<a href="/jjfa_En" style="position:relative;top:40px;margin-left:190px;padding:5px 10px;">&nbsp;</a>
				<ul style="margin-left:45px;">
					<li><img src="../static/img/list-style.png"/> <a href="/jjfa_En">Credit card business consulting</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jjfa_En">Outsourcing services</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jjfa_En">Self-service equipment platform</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jjfa_En">Training for micro credit</a></li>
				</ul>
			</div>
			<div class="right1" style="background: #ffffff url(../static/img/images/qk_09_En.jpg) no-repeat;">
				<a href="/jrzx_En" style="position:relative;top:40px;margin-left:190px;padding:5px 10px;">&nbsp;</a>
				<ul style="margin-left:45px;">
					<li><img src="../static/img/list-style.png"/> <a href="/jrzx_En">Internet</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jrzx_En">Industry News</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jrzx_En">Bank News</a></li>
					<li><img src="../static/img/list-style.png"/> <a href="/jrzx_En">Policy News</a></li>
				</ul>
			</div>			
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../static/img/images/qk_12.png"/>
			<img src="../static/img/images/qk_15.png"/>
			<span><a href="http://www.qkcardpay.com/">CardPay(Shanghai) Info Tech Co.,Ltd.</a>&nbsp;|&nbsp;<a href="http://oa.cardpay-sh.com/">OA</a></span><br/>
			<span>Shanghai ICP for 13001462</span>
		</div>
		<div id="right" class="floatdiv" style="" align="center" onmouseover="showbig()" onmouseout="showsmall()">
			<!-- <div id="message" onclick="window.location.href = 'http://www.cardpay-sh.com/'" >
				<span>乾康（上海）金融信息服务有限公司点这里<img src="../static/img/jt.png" style="" id="jt"/></span>
			</div> -->
			<a href="http://www.cardpay-sh.com/"><img src="../static/img/box_En.png" style="width:100%;" id="jt"/></a>
		</div>
	</div>
	
	<script type="text/javascript" src="../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../static/js/script.js"></script>
</body>
</html>
