<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）信息技术有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/zpxx" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/zpxx_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">网站首页</a></li>
				<li><a href="/gsjj">关于我们</a></li>
				<li><a href="/xwdt">新闻动态</a></li>
				<li><a href="/jjfa">业务指南</a></li>
				<li><a href="/yhnx">银行内训</a></li>
				<li><a href="/cgal">成功案例</a></li>
				<li><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/jrzx">金融咨询</a></li>
				<li class="active"><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../static/img/content.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../static/img/images/lmdh.png"/>
				<ul>					
					<li class="active" onclick="show('zpxx')"><a href="#">招聘信息</a></li>		
				</ul>
				<img src="../../static/img/images/qk_11.png"/>			
			</div>
			<div class="right" id="zpxx">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <font color="#184554">招聘信息</font>
						</td>
					</tr>
				</table>				
				<div class="fengge"></div>
				<table width="100%">
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('rlzyzg')">人力资源主管</a> 
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2014-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('rjgcs')">软件工程师</a> 
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2014-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xmjl')">项目经理</a> 
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2014-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xszg')">销售主管</a> 
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2014-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykywzxs')">信用卡业务咨询师</a> 
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykywjl')">信用卡业务经理/主管</a> 
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykcpfxs')">信用卡产品分析师 </a> 
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>							
				</table>
				<div class="showPage">
					<span>共7条 每页10条 页次：1/1</span>
					<span class="pageNum" style="margin-left:370px;">首页</span>					
					<span class="pageNum">上一页</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">下一页</span>	
					<span class="pageNum">尾页</span>				
				</div>
			</div>	
	<!--**************************************************人力资源主管***********************************************-->		
			<div class="right" id="rlzyzg" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">人力资源主管</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">人力资源主管</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2014-01-22 12:43:00</div>
					<div class="xx">
						<p>工作地点--上海-徐汇区</p>
						<p>岗位职责 ：</p>
						<p>1、协助上级建立健全公司招聘、培训、工资、保险、福利、绩效考核等人力资源制度建设；</p>
						<p>2、建立、维护人事档案，办理和更新劳动合同； </p>
						<p>3、执行人力资源管理各项实务的操作流程和各类规章制度的实施，配合其他业务部门工作； </p>
						<p>4、收集相关的劳动用工等人事政策及法规； </p>
						<p>5、执行招聘工作流程，协调、办理员工招聘、入职、离职、调任、升职等手续；</p>
						<p>6、协同开展新员工入职培训，业务培训，执行培训计划，联系组织外部培训以及培训效果的跟踪、反馈。 </p>
						<p>7、帮助建立员工关系，协调员工与管理层的关系，组织员工的活动。 </p>
						<p>任职资格 ：</p>
						<p>1、人力资源或相关专业本科以上学历； </p>
						<p>2、熟练掌握英语及日语；</p>
						<p>3、熟悉人力资源管理各项实务的操作流程，熟悉国家各项劳动人事法规政策，并能实际操作运用； </p>
						<p>4、具有良好的职业道德，踏实稳重，工作细心，责任心强，有较强的沟通、协调能力，有团队协作精神； </p>
						<p>5、熟练使用相关办公软件，具备基本的网络知识。 </p>
						<p>6、熟悉人事制度有派遣公司工作经验； </p>
						<p>7、能适应出差。 </p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>	
	<!--**************************************************软件工程师***********************************************-->		
			<div class="right" id="rjgcs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">软件工程师</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">软件工程师</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2014-01-22 12:43:00</div>
					<div class="xx">
						<p>工作地点--江苏常州</p>
						<p>岗位职责 ：</p>
						<p>1、完成软件系统代码的实现，编写代码注释和开发文档；</p>
						<p>2、辅助进行系统的功能定义，程序设计； </p>
						<p>3、根据设计文档或需求说明完成代码编写，调试，测试和维护； </p>
						<p>4、分析并解决软件开发过程中的问题；  </p>
						<p>5、协助测试工程师制定测试计划，定位发现的问题；</p>
						<p>6、配合项目经理完成相关任务目标。 </p>
						<p>7、能适应出差。  </p>
						<p>任职资格 ：</p>
						<p>1、计算机或相关专业本科学历以上；  </p>
						<p>2、2年以上软件开发经验； </p>
						<p>3、熟悉面向对象思想，精通编程，调试和相关技术； </p>
						<p>4、熟悉应用服务器的安装、调试、配置及使用；  </p>
						<p>5、具备需求分析和系统设计能力，以及较强的逻辑分析和独立解决问题能力； </p>
						<p>6、能熟练阅读中文、英文技术文档；富有团队精神,责任感和沟通能力。 </p>
						<p>7、熟练使用JAVA,熟悉struts2  </p>
						<p>8、能熟练使用SVN或者GIT </p>
						<p>9、熟悉python,熟悉flask,django,web.py者优先 </p>
						<p>10、了解REST架构，有phonegap开发经验者优先</p>
						<p>工作时间： </p>
						<p>9：00-18：00 </p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************项目经理***********************************************-->		
			<div class="right" id="xmjl" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">项目经理</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">项目经理</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2014-01-22 12:43:00</div>
					<div class="xx">
						<p>工作地点--上海-徐汇区</p>
						<p>岗位职责 ：</p>
						<p>1、组织项目实施全过程，能够带领团队充分协作，共同完成整个项目任务。</p>
						<p>2、对整个项目全程跟踪，把控项目周期，质量，维护客户关系。</p>
						<p>3、分配项目工作内容，解决项目过程中出现的所有问题。 </p>
						<p>4、具有一定的项目管理能力和不同项目的操控能力。  </p>
						<p>任职要求： </p>
						<p>1、具有两年及以上的相关工作经历；   </p>
						<p>2、大学本科及以上的财会、金融、税务、审计等相关专业学历。  </p>
						<p>3、做事敏捷、效率高，工作态度认真，踏实、敬业，抗压能力强。  </p>
						<p>4、有信用卡团队、小微贷团队、保险直营团队管理经验者优先。  </p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************销售主管***********************************************-->		
			<div class="right" id="xszg" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">销售主管</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">销售主管</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2014-01-22 12:43:00</div>
					<div class="xx">
						<p>工作地点--上海-徐汇区</p>
						<p>岗位职责 ：</p>
						<p>1、根据公司的发展战略，组织制定销售计划；</p>
						<p>2、定期向项目经理提供有关销售情况等工作现状的信息；</p>
						<p>3、按部门销售计划进行销售工作，完成销售任务； </p>
						<p>4、负责组织市场推广和产品宣传工作，扩大公司及产品知名度等工作；  </p>
						<p>5、根据业务要求，定期做客户回访，做好老客户维护和再开发；  </p>
						<p>任职资格： </p>
						<p>1、年龄35周岁（含）以下，大专及以上学历，专业不限；   </p>
						<p>2、具有较强的分析判断能力和市场开拓能力；   </p>
						<p>3、表达能力强，善于与人沟通，具有较强的亲和力和责任感，形象气质佳；  </p>
						<p>4、勤奋努力，性格开朗，诚实守信，具有很强的自我挑战能力，工作积极、主动、有高度的责任心和职业操守 ；  </p>
						<p>5、能吃苦耐劳，有较强的抗压能力；   </p>
						<p>6、具备一定的IT知识，有银行业、咨询公司或小额贷款公司相关从业经历者优先。  </p>
						<p>7、能适应出差。  </p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡业务咨询师***********************************************-->		
			<div class="right" id="xykywzxs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">信用卡业务咨询师</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">信用卡业务咨询师</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-28 12:43:00</div>
					<div class="xx">
						<p>职位描述：</p>
						<p>一个项目需要配备一名咨询师。</p>
						<p>职位要求：</p>
						<p>1、有银行信用卡业务管理经验3年以上。</p>
						<p>2、金融专业毕业，最好是会计专业。</p>
						<p>3、最好是已婚女性 或者 男性。</p>
						<p>4、在大行如招商银行、浦发银行、民生银行等从业经验者优先。</p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡业务经理/主管***********************************************-->		
			<div class="right" id="xykywjl" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">信用卡业务经理/主管</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">信用卡业务经理/主管</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-28 12:44:52</div>
					<div class="xx">
						<p>职位描述：</p>
						<p>一个项目配备团队实施管理人员一名。</p>
						<p>职位要求：</p>
						<p>1、有银行客户经理从业或者保险公司营销管理经验者优先。</p>
						<p>2、泰隆商业银行或者平安银行营销团队人员较合适。</p>
						<p>3、大学本科或者专科毕业，所学专业可扩展到营销等。</p>
						<p>4、具有营销策划能力者优先。</p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡产品分析师***********************************************-->		
			<div class="right" id="xykcpfxs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">信用卡产品分析师</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">信用卡产品分析师</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-28 12:47:52</div>
					<div class="xx">
						<p>职位描述：</p>
						<p>两个项目需要配备一名该岗位人员。</p>
						<p>职位要求：</p>
						<p>1、该岗位在银行中具有专门设置，多为产品创新刚以及产品设计管理岗位。需要对信用卡各项规章制度具有较深得了解，对监管政策熟知。</p>
						<p>2、信用卡中心相关从业岗位从业2年以上。</p>
						<p>3、有相关岗位从业经验。</p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../static/img/images/qk_12.png"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span><a href="http://www.qkcardpay.com/">乾康（上海）信息技术有限公司</a>&nbsp;|&nbsp;<a href="http://oa.cardpay-sh.com/">OA</a></span><br/>
			<span>沪ICP备13001462号</span>
		</div>
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
</body>
</html>
