<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）信息技术有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/zpxx" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/zpxx_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">网站首页</a></li>
				<li><a href="/gsjj">关于我们</a></li>
				<li><a href="/xwdt">新闻动态</a></li>
				<li><a href="/jjfa">业务指南</a></li>
				<li><a href="/yhnx">银行内训</a></li>
				<li><a href="/cgal">成功案例</a></li>
				<li><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/jrzx">金融咨询</a></li>
				<li class="active"><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../../static/img/content.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../../static/img/images/lmdh.png"/>
				<ul>					
					<li class="active" onclick="show('zpxx')"><a href="#">招聘信息</a></li>		
				</ul>
				<img src="../../../static/img/images/qk_11.png"/>				
				<a href="http://qkcardpay.sinaapp.com/"><img src="../../../static/img/images/qk_JRLogo.png" style="width:160px;margin-left:25px;"/></a>
			</div>
			<div class="right" id="zpxx">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <font color="#184554">招聘信息</font>
						</td>
					</tr>
				</table>				
				<div class="fengge"></div>
				<table width="100%">
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykywzxs')">信用卡业务咨询师</a> 
							<img src="../../../static/img/new.png"/>
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykywjl')">信用卡业务经理/主管</a> 
							<img src="../../../static/img/new.png"/>
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykcpfxs')">信用卡产品分析师 </a> 
							<img src="../../../static/img/new.png"/>
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/>
							<a href="#" onclick="show('yhkhjl')">银行客户经理</a> 
						</td>
						<td class="text-right">2013-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/>
							<a href="#" onclick="show('azgcs')">安卓工程师招聘</a>
						</td>
						<td class="text-right">2013-01-22</td>
					</tr>			
				</table>
				<div class="showPage">
					<span>共5条 每页10条 页次：1/1</span>
					<span class="pageNum" style="margin-left:370px;">首页</span>					
					<span class="pageNum">上一页</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">下一页</span>	
					<span class="pageNum">尾页</span>				
				</div>
			</div>		
	<!--**************************************************信用卡业务咨询师***********************************************-->		
			<div class="right" id="xykywzxs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">信用卡业务咨询师</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">信用卡业务咨询师</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-28 12:43:00&nbsp;&nbsp;&nbsp;文字：【大】【中】【小】</div>
					<div class="xx">
						<p>职位描述：</p>
						<p>一个项目需要配备一名咨询师。</p>
						<p>职位要求：</p>
						<p>1、有银行信用卡业务管理经验3年以上。</p>
						<p>2、金融专业毕业，最好是会计专业。</p>
						<p>3、最好是已婚女性 或者 男性。</p>
						<p>4、在大行如招商银行、浦发银行、民生银行等从业经验者优先。</p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡业务经理/主管***********************************************-->		
			<div class="right" id="xykywjl" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">信用卡业务经理/主管</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">信用卡业务经理/主管</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-28 12:44:52&nbsp;&nbsp;&nbsp;文字：【大】【中】【小】</div>
					<div class="xx">
						<p>职位描述：</p>
						<p>一个项目配备团队实施管理人员一名。</p>
						<p>职位要求：</p>
						<p>1、有银行客户经理从业或者保险公司营销管理经验者优先。</p>
						<p>2、泰隆商业银行或者平安银行营销团队人员较合适。</p>
						<p>3、大学本科或者专科毕业，所学专业可扩展到营销等。</p>
						<p>4、具有营销策划能力者优先。</p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡产品分析师***********************************************-->		
			<div class="right" id="xykcpfxs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">信用卡产品分析师</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">信用卡产品分析师</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-28 12:47:52&nbsp;&nbsp;&nbsp;文字：【大】【中】【小】</div>
					<div class="xx">
						<p>职位描述：</p>
						<p>两个项目需要配备一名该岗位人员。</p>
						<p>职位要求：</p>
						<p>1、该岗位在银行中具有专门设置，多为产品创新刚以及产品设计管理岗位。需要对信用卡各项规章制度具有较深得了解，对监管政策熟知。</p>
						<p>2、信用卡中心相关从业岗位从业2年以上。</p>
						<p>3、有相关岗位从业经验。</p>
						<p>应聘请发送简历至--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************银行客户经理***********************************************-->		
			<div class="right" id="yhkhjl" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">银行客户经理</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">银行客户经理</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-22 15:22:40&nbsp;&nbsp;&nbsp;文字：【大】【中】【小】</div>
					<div class="xx">
						<p>乾康（上海）信息技术有限公司创始于2011年，因业务拓展需要，近期代理某银行培养信用卡团队人才，现面向江苏、上海等地区招聘客户经理。</p>
						<p>职位描述：</p>
						<p>主要负责推广银行各项产品，信用卡，个人小额贷款，个人理财产品及个人储蓄等业务。</p>
						<p>职位要求：</p>
						<p>1、普通高等院校全日制大学本科及以上学历毕业生。</p>
						<p>2、经济类、金融类、财会类、市场营销类等相关专业。</p>
						<p>3、本科生年龄不超过26周岁（1987年1月1日以后出生），研究生年龄不超过28周岁（1985年1月1日以后出生）。</p>
						<p>4、诚实守信，遵纪守法。</p>
						<p>5、身体健康，具有较强责任心和压力承受能力。</p>
						<p>6、具有信用卡，个人金融产品快消品等行业经验者优先。</p>
						<p>7、常州户籍优先。</p>
						<p>薪资福利：</p>
						<p>1、基本底薪标准+ 业绩提成（最高上不封顶） +奖金 + 国家规定的各项社会保险。</p>
						<p>2、为培养员工快速成长提供良好的晋升渠道及相关专业化培训。</p>
						<p>工作地点：</p>
						<p>江苏常州、上海</p>
						<p>应聘者请将个人简历、学历及身份证等有效证件复印件寄至：上海市徐汇区沪闵路9450号201室，邮编200235。 或发电子邮件至邮箱：cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
		<!--**************************************************安卓工程师招聘***********************************************-->		
			<div class="right" id="azgcs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">招聘信息</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('zpxx')" href="#">招聘信息</a> > <font color="#184554">安卓工程师招聘</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">安卓工程师招聘</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-22 13:55:25&nbsp;&nbsp;&nbsp;文字：【大】【中】【小】</div>
					<div class="xx">
						<p>工作地点：常州</p>
						<p>职位描述：</p>
						<p>1、根据产品需求进行Android客户端软件架构设计，并进行设计和持续优化Android平台应用软件开发。</p>
						<p>2、参与、协助产品的需求分析、设计、实现、集成以及维护。</p>
						<p>任职资格：</p>
						<p>1、计算机相关专业本科及本科以上。</p>
						<p>2、有1年以上Android客户端开发经验，具有复杂功能开发的经验，扎实的算法基础。</p>
						<p>3、丰富的Android开发架构和系统API调用经验。</p>
						<p>4、具有比较强的客户端系统架构设计能力，在通用性、跨平台和复用性方面有深刻的理解。</p>
						<p>5、熟悉Socket开发，熟悉TCP/IP和HTTP协议开发。</p>
						<p>6、较强的解决问题和技术创新能力。</p>
						<p>7、有银行行业应用开发经验优先。</p>						
						<p>应聘请发送邮件至：cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../../static/img/images/qk_12.png"/>
			<img src="../../../static/img/images/qk_15.png"/>
			<span><a href="http://qkcardpay.sinaapp.com/">乾康（上海）金融信息服务有限公司</a>&nbsp;|&nbsp;<a href="http://qkoa.sinaapp.com/">OA</a></span><br/>
			<span>沪ICP备13001462号</span>
		</div>
	</div>
	<script type="text/javascript" src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../../static/js/script.js"></script>
</body>
</html>
