<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Info Tech Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
		.H1{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/zpxx" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/zpxx_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index_En">Home</a></li>
				<li><a href="/gsjj_En">About Us</a></li>
				<li><a href="/xwdt_En">News</a></li>
				<li><a href="/jjfa_En">Business</a></li>
				<li><a href="/yhnx_En">Training</a></li>
				<li><a href="/cgal_En">Case</a></li>
				<li><a href="/hzhb_En">Partner</a></li>
				<li><a href="/jrzx_En">Financial</a></li>
				<li class="active"><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../static/img/content_En.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../static/img/images/lmdh_En.png"/>
				<ul>					
					<li class="active" onclick="show('zpxx')"><a href="#">Recruit</a></li>		
				</ul>
				<img src="../../static/img/images/qk_11_En.png"/>		
			</div>
			<div class="right" id="zpxx">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <font color="#184554">Recruit</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%">
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('rlzyzg')">Head of Human Resources</a> 
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2014-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('rjgcs')">Software Engineer</a> 
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2014-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xmjl')">Project Manager</a> 
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2014-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xszg')">Sales Executive</a> 
							<img src="../../static/img/new.png"/>
						</td>
						<td class="text-right">2014-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykywzxs')">Credit card business consultant</a> 
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykywjl')">Credit Card Business Manager / Supervisor</a> 
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykcpfxs')">Analysts credit card products </a> 
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>						
				</table>
				<div class="showPage">
					<span>Page: 1/1</span>
					<span class="pageNum" style="margin-left:480px;">First</span>					
					<span class="pageNum">Previous</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">Next</span>	
					<span class="pageNum">Last</span>				
				</div>
			</div>	
	<!--**************************************************人力资源主管***********************************************-->		
			<div class="right" id="rlzyzg" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> >  <font color="#184554">Head of Human Resources</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Head of Human Resources</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2014-01-22 12:43:00</div>
					<div class="xx">
						<p>Location - Shanghai - Xuhui District</p>
						<p>Responsibilities:</p>
						<p>1, to help establish a sound corporate superiors recruitment, training, wages, insurance, benefits, performance appraisal and other human resources system construction;</p>
						<p>2, establish, maintain personnel files, handle and update labor contracts; </p>
						<p>3, the implementation of the practical implementation of human resource management operational procedures and various rules and regulations, and with other business departments; </p>
						<p>4, the collection of labor and employment and other personnel-related policies and regulations; </p>
						<p>5, the executive recruitment process, coordinate, for staff recruitment, induction, resignation, transfer, promotion and other procedures;</p>
						<p>6, collaborative conduct new employee training, business training, executive training programs, contact the organization external training and tracking the effectiveness of training, and feedback. </p>
						<p>7, to help build employee relations, coordination between employees and management, organizational activities of employees. </p>
						<p>Qualifications:</p>
						<p>1, Human Resources or related professional degree or above; </p>
						<p>2, fluent in English and Japanese;</p>
						<p>3, familiar with the practice of human resource management operational procedures, familiar with the state's labor and personnel regulations and policies, and to practical use; </p>
						<p>4, has a good work ethic, steadfast steady work carefully, strong sense of responsibility, strong communication and coordination skills, team player; </p>
						<p>5, skill in using office software, with basic networking knowledge. </p>
						<p>6, familiar with the personnel system has to send the company work experience; </p>
						<p>7, able to travel. </p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>	
	<!--**************************************************软件工程师***********************************************-->		
			<div class="right" id="rjgcs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Software Engineer</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Software Engineer</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2014-01-22 12:43:00</div>
					<div class="xx">
						<p>Location - Changzhou</p>
						<p>Responsibilities:</p>
						<p>1, complete system for software code, written in code comments and documentation development;</p>
						<p>2, the auxiliary functional definition of the system, program design;</p>
						<p>3, according to the design needs to complete the document, or coding, debugging, testing, and maintenance; </p>
						<p>4, analyze and solve problems in the software development process;  </p>
						<p>5, to help test engineers to develop test plans, positioning problems found;</p>
						<p>6, with the Project Manager to complete the relevant mission objectives. </p>
						<p>7, able to travel.  </p>
						<p>Qualifications:</p>
						<p>1, computer or related undergraduate degree or above;  </p>
						<p>2、at least 2 years experience in software development; </p>
						<p>3, familiar with object-oriented thinking, proficient in programming, debugging, and related technologies;</p>
						<p>4, familiar with the application server installation, commissioning, configuration and use;  </p>
						<p>5, with the requirements analysis and system design capabilities, as well as strong analytical and logical ability to solve problems independently; </p>
						<p>6, proficiency in reading Chinese, English technical documentation; team spirit, responsibility and communication skills. </p>
						<p>7, skilled use of JAVA, familiar struts2</p>
						<p>8, can skillfully use SVN or GIT</p>
						<p>9, familiar with python, familiar flask, django, web.py preferred. </p>
						<p>10, Understanding REST architecture, a phonegap development experience is preferred</p>
						<p>Working time:</p>
						<p>9：00-18：00 </p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************项目经理***********************************************-->		
			<div class="right" id="xmjl" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Project Manager</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Project Manager</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2014-01-22 12:43:00</div>
					<div class="xx">
						<p>Location - Shanghai - Xuhui District</p>
						<p>Responsibilities:</p>
						<p>1, the entire process of project implementation organization, able to lead the team to fully collaborate together to complete the project tasks.</p>
						<p>2, the entire project tracking, project cycle to control quality, maintain customer relationships.</p>
						<p>3, the allocation of work content, solve all the problems arise during the project. </p>
						<p>4, with some project management skills and ability to control the different projects.  </p>
						<p>Qualifications: </p>
						<p>1, with two years of relevant work experience and above;  </p>
						<p>2, college and above accounting, finance, taxation, auditing, and other relevant professional qualifications. </p>
						<p>3, doing agility, high efficiency, work attitude, pragmatic, dedicated, strong compression capability.  </p>
						<p>4, there is a credit card team, a small team of micro-credit, insurance Direct team management experience is preferred. </p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************销售主管***********************************************-->		
			<div class="right" id="xszg" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Sales Executive</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Sales Executive</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2014-01-22 12:43:00</div>
					<div class="xx">
						<p>Location - Shanghai - Xuhui District</p>
						<p>Responsibilities:</p>
						<p>1, according to the company's development strategy, formulate sales plans;</p>
						<p>2, on a regular basis to provide information about the status of the work, such as sales to the project manager;</p>
						<p>3, according to the sales plan sales department to complete the sales task; </p>
						<p>4, responsible for marketing and product promotion organization working to expand the company and product awareness, etc.;  </p>
						<p>5, based on business requirements, regular customer visits, good old customer maintenance and redevelopment;  </p>
						<p>Qualifications: </p>
						<p>1, age 35 years of age (inclusive), tertiary and higher education, professional limited;   </p>
						<p>2, with strong analytical skills and marketing capabilities;  </p>
						<p>3, strong communication skills, good communication skills, have a strong affinity and responsibility, good image quality;  </p>
						<p>4, hardworking, cheerful, honest and trustworthy, has a strong ability to self-challenge, motivated, active, there is a high degree of responsibility and ethics;  </p>
						<p>5, can be hard, strong in compression;  </p>
						<p>6, with some IT knowledge, banks, consulting firms or small loan company relevant business experience is preferred.  </p>
						<p>7, able to travel.  </p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡业务咨询师***********************************************-->		
			<div class="right" id="xykywzxs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Credit card business consultant</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Credit card business consultant</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-28 12:43:00</div>
					<div class="xx">
						<p class="step">Job Description:</p>
						<p>A project needs with a counselor.</p>
						<p class="step">Job requirements:</p>
						<p>1, a bank credit card business management experience in three years.</p>
						<p>2, finance graduate, preferably in accounting.</p>
						<p>3, preferably married women or men.</p>
						<p>4, in the big firms such as China Merchants Bank, Shanghai Pudong Development Bank, China Minsheng Bank experience is preferred.</p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡业务经理/主管***********************************************-->		
			<div class="right" id="xykywjl" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Credit Card Business Manager / Supervisor</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Credit Card Business Manager / Supervisor</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-28 12:44:52</div>
					<div class="xx">
						<p class="step">Job Description:</p>
						<p>A project with a team to implement management personnel.</p>
						<p class="step">Job requirements:</p>
						<p>1, a bank or an insurance company account manager practitioners marketing management experience is preferred.</p>
						<p>2, Tyrone commercial bank or Ping An Bank Marketing Team staff more appropriate.</p>
						<p>3, college or college graduates, the profession can be extended to marketing.</p>
						<p>4, with marketing planning capability is preferred.</p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡产品分析师***********************************************-->		
			<div class="right" id="xykcpfxs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Analysts credit card products</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Analysts credit card products</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-28 12:47:52</div>
					<div class="xx">
						<p class="step">Job Description:</p>
						<p>With one of the two projects need to staff positions.</p>
						<p class="step">Job requirements:</p>
						<p>1, in the bank has specifically set, mostly just product innovation and product design management positions. Credit card with the rules and regulations need to get deeper understanding of the regulatory policy known.</p>
						<p>2, Credit Card Center practitioner jobs related practitioners more than 2 years.</p>
						<p>3, there is experience in relevant positions.</p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
		
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../static/img/images/qk_12.png"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span><a href="http://www.qkcardpay.com/">CardPay(Shanghai) Info Tech Co.,Ltd.</a>&nbsp;|&nbsp;<a href="http://oa.cardpay-sh.com/">OA</a></span><br/>
			<span>Shanghai ICP for 13001462</span>
		</div>
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
</body>
</html>
