<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Info Tech Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
		.H1{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/zpxx" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/zpxx_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index_En">Home</a></li>
				<li><a href="/gsjj_En">About Us</a></li>
				<li><a href="/xwdt_En">News</a></li>
				<li><a href="/jjfa_En">Business</a></li>
				<li><a href="/yhnx_En">Training</a></li>
				<li><a href="/cgal_En">Case</a></li>
				<li><a href="/hzhb_En">Partner</a></li>
				<li><a href="/jrzx_En">Financial</a></li>
				<li class="active"><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../../static/img/content_En.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../../static/img/images/lmdh_En.png"/>
				<ul>					
					<li class="active" onclick="show('zpxx')"><a href="#">Recruit</a></li>		
				</ul>
				<img src="../../../static/img/images/qk_11_En.png"/>				
				<a href="http://www.cardpay-sh.com/"><img src="../../../static/img/images/qk_JRLogo.png" style="width:160px;margin-left:25px;"/></a>
			</div>
			<div class="right" id="zpxx">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <font color="#184554">Recruit</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%">
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykywzxs')">Credit card business consultant</a> 
							<img src="../../../static/img/new.png"/>
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykywjl')">Credit Card Business Manager / Supervisor</a> 
							<img src="../../../static/img/new.png"/>
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/> 
							<a href="#" onclick="show('xykcpfxs')">Analysts credit card products </a> 
							<img src="../../../static/img/new.png"/>
						</td>
						<td class="text-right">2013-01-28</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/>
							<a href="#" onclick="show('yhkhjl')">Bank Account Manager</a> 
						</td>
						<td class="text-right">2013-01-22</td>
					</tr>
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/>
							<a href="#" onclick="show('azgcs')">Android engineer</a>
						</td>
						<td class="text-right">2013-01-22</td>
					</tr>			
				</table>
				<div class="showPage">
					<span>Page: 1/1</span>
					<span class="pageNum" style="margin-left:480px;">First</span>					
					<span class="pageNum">Previous</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">Next</span>	
					<span class="pageNum">Last</span>				
				</div>
			</div>		
	<!--**************************************************信用卡业务咨询师***********************************************-->		
			<div class="right" id="xykywzxs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Credit card business consultant</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Credit card business consultant</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-28 12:43:00</div>
					<div class="xx">
						<p class="step">Job Description:</p>
						<p>A project needs with a counselor.</p>
						<p class="step">Job requirements:</p>
						<p>1, a bank credit card business management experience in three years.</p>
						<p>2, finance graduate, preferably in accounting.</p>
						<p>3, preferably married women or men.</p>
						<p>4, in the big firms such as China Merchants Bank, Shanghai Pudong Development Bank, China Minsheng Bank experience is preferred.</p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡业务经理/主管***********************************************-->		
			<div class="right" id="xykywjl" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Credit Card Business Manager / Supervisor</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Credit Card Business Manager / Supervisor</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-28 12:44:52</div>
					<div class="xx">
						<p class="step">Job Description:</p>
						<p>A project with a team to implement management personnel.</p>
						<p class="step">Job requirements:</p>
						<p>1, a bank or an insurance company account manager practitioners marketing management experience is preferred.</p>
						<p>2, Tyrone commercial bank or Ping An Bank Marketing Team staff more appropriate.</p>
						<p>3, college or college graduates, the profession can be extended to marketing.</p>
						<p>4, with marketing planning capability is preferred.</p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************信用卡产品分析师***********************************************-->		
			<div class="right" id="xykcpfxs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Analysts credit card products</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Analysts credit card products</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-28 12:47:52</div>
					<div class="xx">
						<p class="step">Job Description:</p>
						<p>With one of the two projects need to staff positions.</p>
						<p class="step">Job requirements:</p>
						<p>1, in the bank has specifically set, mostly just product innovation and product design management positions. Credit card with the rules and regulations need to get deeper understanding of the regulatory policy known.</p>
						<p>2, Credit Card Center practitioner jobs related practitioners more than 2 years.</p>
						<p>3, there is experience in relevant positions.</p>
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
	<!--**************************************************银行客户经理***********************************************-->		
			<div class="right" id="yhkhjl" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Bank Account Manager</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Bank Account Manager</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-22 15:22:40</div>
					<div class="xx">
						<p>CardPay(Shanghai) was founded in 2011, due to business expansion needs, the recent proxy cultivate a bank credit card team talent, is now facing Jiangsu, Shanghai and other regions Recruitment Account Manager.</p>
						<p class="step">Job Description:</p>
						<p>Primarily responsible for promoting the bank's products, credit cards, personal small loans, personal finance and other business products and personal savings.</p>
						<p class="step">Job requirements:</p>
						<p>1, ordinary full-time undergraduate colleges and higher education graduates.</p>
						<p>2, economics, financial, accounting classes, marketing classes and other related professionals.</p>
						<p>3, age over 26 years of undergraduate (January 1, 1987 after the birth), graduate students older than 28 years of age (January 1, 1985 after the birth).</p>
						<p>4, honest and trustworthy, law-abiding.</p>
						<p>5, good health, with a strong sense of responsibility and stress tolerance.</p>
						<p>6, with credit cards, personal financial products FMCG industry experience is preferred.</p>
						<p>7, Changzhou household priority.</p>
						<p class="step">Compensation:</p>
						<p>1, basic standard basic salary + commission (cap) on the top + bonus + of various social insurance prescribed by the state</p>
						<p>2, for training employees rapid growth to provide a good promotion channels and related professional training</p>
						<p class="step">Workplace：</p>
						<p>Jiangsu Changzhou,Shanghai</p>
						<p>Please send resume send a copy of the effective certificate such as education and id to: room 9450, no. 9450, hu min road, xuhui district, Shanghai, zip code 200235 or Send email to --cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
		<!--**************************************************安卓工程师招聘***********************************************-->		
			<div class="right" id="azgcs" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Recruit</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('zpxx')" href="#">Recruit</a> > <font color="#184554">Android engineer</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Android engineer</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-22 13:55:25</div>
					<div class="xx">
						<p class="step">Workplace：</p>
						<p>Jiangsu Changzhou</p>
						<p class="step">Job Description:</p>
						<p>1, according to the product requirements in terms of the Android client software architecture design, and design and continuous optimization of the Android platform application software development.</p>
						<p>2, participation, assist product demand analysis, design, implementation, integration and maintenance.</p>
						<p class="step">Job requirements:</p>
						<p>1, computer related specialized undergraduate and postgraduate.</p>
						<p>2, there are more than 1 years Android client development experience, have experience in complex function development, a solid foundation of the algorithm.</p>
						<p>3, the rich Android development framework and the system call API experience.</p>
						<p>4, with the client system architecture design ability is strong, have a deep understanding in general, cross platform and reusable.</p>
						<p>5, familiar with the Socket development, familiar with TCP/IP and HTTP protocol development.</p>
						<p>6, strong problem solving and technical innovation ability.</p>
						<p>7, the banking industry application development experience is preferred.</p>						
						<p>Candidates please send your resume to--cardpay_hr@163.com</p>
					</div>
				</div>
			</div>		
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../../static/img/images/qk_12.png"/>
			<img src="../../../static/img/images/qk_15.png"/>
			<span><a href="http://www.cardpay-sh.com/">CardPay(Shanghai) Finance Consulting Co.,Ltd.</a>&nbsp;|&nbsp;<a href="http://qkoa.sinaapp.com/">OA</a></span><br/>
			<span>Shanghai ICP for 13001462</span>
		</div>
	</div>
	<script type="text/javascript" src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../../static/js/script.js"></script>
</body>
</html>
