<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Info Tech Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
		.H1{font-family:Arial;}
	</style>
	<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F9f1d860c127de6cc1682b821235430d9' type='text/javascript'%3E%3C/script%3E"));
		function datatable(){
			$('#gkkc1').dataTable( {
				"bPaginate": true, //翻页功能
				"bLengthChange": false, //改变每页显示数据数量
				"bFilter": false, //过滤功能
				"bSort": false, //排序功能
				"bInfo": true,//页脚信息
				"bAutoWidth": true,//自动宽度
				"sPaginationType": "full_numbers"
			} );
		}
	</script>
</head>

<body onload="datatable()">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/yhnx" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/yhnx_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index_En">Home</a></li>
				<li><a href="/gsjj_En">About Us</a></li>
				<li><a href="/xwdt_En">News</a></li>
				<li><a href="/jjfa_En">Business</a></li>
				<li class="active"><a href="/yhnx_En">Training</a></li>
				<li><a href="/cgal_En">Case</a></li>
				<li><a href="/hzhb_En">Partner</a></li>
				<li><a href="/jrzx_En">Financial</a></li>
				<li><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../static/img/content_En.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../static/img/images/lmdh_En.png"/>
				<ul id="gywm-list">
					<li class="active" onclick="change_div(this,'kctx')"><a href="#">Curriculum System</a></li>
					<li onclick="change_div(this,'gkkc')"><a href="#">Open Courses</a></li>				
				</ul>
				<img src="../../static/img/images/qk_11_En.png"/>
			</div>
			<div class="right" id="kctx">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Training</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > Training > <font color="#184554">Curriculum System</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%">
					<tr class="bordered">
						<td>
							<img src="../../static/img/list-style.png"/> 
							<a href="#" onclick="show('wdpxkc')">Commercial bank micro credit training courses</a>
						</td>
						<td class="text-right">2013-01-22</td>
					</tr>											
				</table>
				<div class="showPage">
					<span>Page: 1/1</span>
					<span class="pageNum" style="margin-left:480px;">First</span>					
					<span class="pageNum">Previous</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">Next</span>	
					<span class="pageNum">Last</span>				
				</div>
			</div>	
<!--**************************************************商业银行微小贷款培训课程***********************************************-->		
			<div class="right" id="wdpxkc" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Training</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('kctx')" href="#">Training</a> > <font color="#184554">Commercial bank micro credit training courses</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Commercial bank micro credit training courses</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-01-22 13:26:00</div>
					<div class="xx">
						<p class="step">Training Courses</p>
						<p>Micro-credit technical service training is divided into six themes, covering all aspects of Micro-credit system, the establishment of a number of courses for each topic, including cutting-edge theory and on the interpretation of current policies and regulations, combined with related cases will be discussed, the topics are as follows:</p>
						<p>Theme one: the concept of Micro-credit, policy and market environment;</p>
						<p>Theme two: Micro-credit organizational structure, profitability analysis and motivate assessment;</p>
						<p>Theme three: Micro-credit business processes and deal with non-performing loans;</p>
						<p>Theme four: Micro-credit risk prevention and internal control;</p>
						<p>Theme Five: Micro-credit management system introduction and operation of explanation;</p>
						<p>Theme six: Micro-loan-related laws and regulations knowledge.</p>
						<p class="step">Training Content</p>
						<p class="secondStep">Micro-credit management training</p>
						<p>Micro-credit requirement in charge of micro-credit business for a year or more, have good management skills, organizational skills, risk control and training capacity.</p>
						<p>Micro-credit management training mainly in job training. Has the potential to meet the above requirements will be selected out of the loan officers focus on training. Micro-credit department supervisor will meet regularly, focusing on business development in the problem, find Businesss while working on microfinance competent guidance and suggestions for improvements.</p>						
						<p class="secondStep">Loan officer training</p>
						<p>Loan officer training internship stage can be divided into stages, one stage and the professors operate independently phase.</p>
						<p>(I)Attachment phase</p>
						<p>Loan officer internship tasks are the following:</p>
						<p>1.Microfinance sector to understand the major functions and operation mechanism;</p>
						<p>2.Learn every loan officer job content, working time arrangements and completion time required for each task;</p>
						<p>3.Understand the characteristics of micro-credit products;</p>
						<p>4.Initial grasp of marketing skills. Able to describe the marketing campaigns, and through role playing, accompanied by trainer marketing, marketing under the supervision of the trainer, the independent marketing stage, with independent marketing capabilities;</p>
						<p>5.Preliminary master the loan application acceptance skills. Trainee familiar with and able to describe the loan application, and will be through role-playing, and trainers with filling out a loan application, under the supervision of the trainer accepting loan applications and other ways to become familiar with the loan application admissible;</p>
						<p>Observe Lending Survey. Be able to describe Lending Survey and participate as much as possible to observe the conduct of investigations trainers;</p>
						<p>6.Try preparing lending survey. Lending survey to understand the contents of the various components, and in the accompanying try filling out a loan to observe the investigation questionnaire, compiled with the trainer survey control study;</p>
						<p>7.Participate in credit review will discuss. Attend and listen to credit review will discuss and try to ask questions, statements loans through role playing scenarios;</p>
						<p>8.Learn lending program, to explain to the client the loan process;</p>
						<p>9.Learn loan monitoring. And trainers went to visit family in order to urge their repayment loans;</p>
						<p>10.Read the micro-credit policies and procedures. Branch of the Ministry of micro credit micro-credit system respond to all, forms, contract and temporary regulations designed clip custody, trainees should be repeated for reading;</p>
						<p>11.Read the Code of Conduct. Trainees should conduct repeated reading and discussion with the supervisor or consultant.</p>
						<p>(II)Professor stage one</p>
						<p>The second phase of the training needs in the post 4-8 weeks, and the difficulty and complexity increases, the loan officer at this stage should gradually begin to work independently.</p>
						<p>(III)Compliance requirements</p>
						<p>Three months after the trial period loan officer must meet the following requirements: under the guidance of trainer loans, but the specific work done by the trainees, including a simple case investigation in complex cases with the help of trainers, to complete to collect from the customer and verifying the data, the use of cross-examination methods; prepare loan according to the investigation report; habit of thinking of loan approval loan officer survey questioned other cases, mainly from case to identify risk points; access to debt collection first-hand experience; the surrounding market, industry, customers have a more in-depth understanding, including the operating characteristics of different industries, risk points and the impact on repayment ability.</p>
						<p>(IV)Assessment methods</p>
						<p>Loan officer in the internship period, subject to a monthly assessment. Assessment is mainly based on the loan officer's performance at work, and with reference to the loan officer concluded their work, pointing out the problems, and certainly progress.</p>
						<p>Only those who take the initiative and be able to quickly grasp the essentials of working trainees to be able to stay. Assessment unqualified trainee will be dismissed. Individual circumstances will consider extending the training period.</p>
						<p class="secondStep">Backstage staff training</p>
						<p>(I)Learning phase</p>
						<p>Follow backstage backstage staff trainers to understand the operation of background work processes and credit rules. At this stage backstage staff to accomplish the following tasks:</p>
						<p>1.Read and learn basic rules of micro-loan business;</p>
						<p>2.Follow the designated loan officers are familiar with the background background work processes and lending operations system operation;</p>
						<p>3.Learn lenders required information, documents, contracts;</p>
						<p>4.Practice in the IT consulting registration information recorded in the system.</p>
						<p>(II)Practice stage</p>
						<p>Business early, back office staff of classroom training is conducted in conjunction with the loan officer. As business grows, you can adjust the back office staff combined with the actual situation of classroom training. Backstage personnel through in-service training after hard targets and soft targets to meet two requirements.</p>
						<p>Fixed target refers to the ability to work independently operate:</p>
						<p>1.Master file archiving, maintenance and loan system operation. Including credit file maintenance, data entry and other loans;</p>
						<p>2.Clearly explained to the customer contract terms, independently loan;</p>
						<p>3.Real-time monitoring lending process and to help loan officers to complete loan recovery.</p>
						<p>Soft targets is backstage personnel responsibility, teamwork, ability to meet the actual job requirements:</p>
						<p>1.Management skills. And consciously safeguard the office environment clean, orderly, familiar with the daily affairs effectively complete loan;</p>
						<p>2.Control. Maintenance and verification of loan officers to submit information, documents, and the lack of obvious errors, missing information;</p>
						<p>3.Independence and responsibility. In the absence of or at least under the supervision of, the ability to guide the work of all the steps and identification problems;</p>
						<p>4.Teamwork. Other staff with the cooperation between banks in good condition;</p>
						<p>5.Attitude and service orientation. Holders of the target group with a good attitude and willingness to serve, working professional, standardized, reflecting good corporate image and personal qualities.</p>
						<p>(III)Assessment methods</p>
						<p>Backstage personnel undergo a monthly assessment of the trial period, branch managers and backstage microfinance trainers, combining performance and backstage staff self-summary, pointing out the problems, and certainly progress. After three months of back office staff through the assessment can be positive.</p>
						<p>(IV)Training focus</p>
						<p>Micro-credit loan business team building focus should be placed "Abilities" rather than "quantity" building. Business to carry out the early concept of the micro-credit and technical methods of training mainly through job training and enrichment industry knowledge accumulation.</p>
						<p>With the business development, training programs are designed to be technology-based training towards capacity-based training. Cultivate a high-quality micro-credit core team.</p>
						
					</div>
				</div>
			</div>		
<!--**************************************************公开课程***********************************************-->		
			<div class="right" id="gkkc" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../static/img/tip.png"/><span class="title"> Training</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > Training > <font color="#184554">Open Courses</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%" id="gkkc1">
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Banking services etiquette
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Professional ethics and conduct banking practitioners
							</td>	
							<td class="text-right">2013-09-09</td>						
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Commercial Banking Law Basics
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Bank staff professionalism and sunny mood shaping
							</td>
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Bank staff career planning and management
							</td>
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Efficient communication skills
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Financial Markets
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Banking bill business basics
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Personal, business and corporate banking operations
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Electronic banking, bank card business and operational
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Market research techniques
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Microfinance business processes standard processes and systems introduced
							</td>	
							<td class="text-right">2013-09-09</td>						
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Credit Card system knowledge
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Microfinance clients marketing strategies
							</td>
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Maintenance and Customer Relationship Management
							</td>
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Microfinance sales skills
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Microcredit lending monitoring and risk prevention
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Accounting, basic accounting statements
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Money and banking foundation
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../static/img/list-style.png"/> 
								Bank Information System Overview
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
					</tbody>
				</table>
			</div>					
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../static/img/images/qk_12.png"/>
			<img src="../../static/img/images/qk_15.png"/>
			<span><a href="http://www.qkcardpay.com/">CardPay(Shanghai) Info Tech Co.,Ltd.</a>&nbsp;|&nbsp;<a href="http://oa.cardpay-sh.com/">OA</a></span><br/>
			<span>Shanghai ICP for 13001462</span>
		</div>
	</div>
	<script type="text/javascript" src="../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../static/js/jquery.dataTables_En.min.js"></script>
	<script type="text/javascript" src="../../static/js/script.js"></script>
</body>
</html>
