<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）信息技术有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
	</style>
	<script type="text/javascript">
		function datatable(){
			$('#gkkc1').dataTable( {
				"bPaginate": true, //翻页功能
				"bLengthChange": false, //改变每页显示数据数量
				"bFilter": false, //过滤功能
				"bSort": false, //排序功能
				"bInfo": true,//页脚信息
				"bAutoWidth": true,//自动宽度
				"sPaginationType": "full_numbers"
			} );
		}
	</script>
</head>

<body onload="datatable()">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/yhnx" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/yhnx_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">网站首页</a></li>
				<li><a href="/gsjj">关于我们</a></li>
				<li><a href="/xwdt">新闻动态</a></li>
				<li><a href="/jjfa">业务指南</a></li>
				<li class="active"><a href="/yhnx">银行内训</a></li>
				<li><a href="/cgal">成功案例</a></li>
				<li><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/jrzx">金融咨询</a></li>
				<li><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../../static/img/content.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../../static/img/images/lmdh.png"/>
				<ul id="gywm-list">
					<li class="active" onclick="change_div(this,'kctx')"><a href="#">课程体系</a></li>
					<li onclick="change_div(this,'gkkc')"><a href="#">公开课程</a></li>				
				</ul>
				<img src="../../../static/img/images/qk_11.png"/>
				<a href="http://www.cardpay-sh.com/"><img src="../../../static/img/images/qk_JRLogo.png" style="width:160px;margin-left:25px;"/></a>
			</div>
			<div class="right" id="kctx">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">银行内训</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > 银行内训 > <font color="#184554">课程体系</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%">
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/> 
							<a href="#" onclick="show('wdpxkc')">商业银行微小贷款培训课程</a>
						</td>
						<td class="text-right">2013-01-22</td>
					</tr>											
				</table>
				<div class="showPage">
					<span>共1条 每页10条 页次：1/1</span>
					<span class="pageNum" style="margin-left:370px;">首页</span>					
					<span class="pageNum">上一页</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">下一页</span>	
					<span class="pageNum">尾页</span>				
				</div>
			</div>	
<!--**************************************************商业银行微小贷款培训课程***********************************************-->		
			<div class="right" id="wdpxkc" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">银行内训</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <a onclick="show('kctx')" href="#">银行内训</a> > <font color="#184554">商业银行微小贷款培训课程</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">商业银行微小贷款培训课程</h1>
					<div class="zz">作者：管理员&nbsp;&nbsp;&nbsp;发布于：2013-01-22 13:26:00&nbsp;&nbsp;&nbsp;文字：【大】【中】【小】</div>
					<div class="xx">
						<p>培训课程</p>
						<p>微贷款技术服务培训分为六个主题，覆盖微贷款业务体系各方面，每个主题设立若干课程，包含前沿理论与对当前政策及法规的解读，并结合相关案例进行研讨，各主题如下：</p>
						<p>主题一：微贷款概念、政策及市场环境；</p>
						<p>主题二：微贷款组织结构、盈利分析及激励考核；</p>
						<p>主题三：微贷款业务流程及不良贷款处理；</p>
						<p>主题四：微贷款风险防范与内控；</p>
						<p>主题五：微贷款管理系统介绍及操作讲解；</p>
						<p>主题六：微贷款相关法律、法规知识。</p>
						<p>培训内容</p>
						<p>微贷主管的培训</p>
						<p>微贷主管要求从事微贷业务一年以上，具备良好的管理能力、组织协调能力、风险控制能力和培训能力。</p>
						<p>微贷主管的培训主要是在岗培训。满足以上要求的有潜力的信贷员会被选拔出来着重培养。微贷部门定期召开主管会，集中讨论业务开展中问题，寻找解决办法，同时对微贷主管工作进行指导，并提出改进意见。</p>						
						<p>信贷员的培训</p>
						<p>信贷员培训阶段可以分为实习阶段、一对一教授阶段和独立操作阶段。</p>
						<p>实习阶段</p>
						<p>实习期信贷员的任务有以下几点：</p>
						<p>1.了解微贷部门主要职能和运作机制；</p>
						<p>2.了解信贷员每天工作内容、工作时间安排和完成每一项工作所需的时间；</p>
						<p>3.了解微贷产品的特点；</p>
						<p>4.初步掌握市场营销技能。能够描述营销活动，并通过角色扮演、陪同培训师营销、在培训师监督下营销、独立市场营销等阶段，具备独立营销的能力；</p>
						<p>5.初步掌握贷款申请受理技能。培训生熟悉并能描述贷款申请书主要内容，并通过角色扮演、和培训师一起填写贷款申请书、在培训师监督下受理贷款申请等途径逐步熟悉贷款申请受理；</p>
						<p>观摩贷款调查。能够描述贷款调查，并尽可能多地参与观摩培训师的调查行为；</p>
						<p>6.尝试编制贷款调查表。能够了解贷款调查表各个组成部分的内容，并在陪同观摩调查后尝试填写贷款调查表，并与培训师所编调查表对照学习；</p>
						<p>7.参加贷审会讨论。参加并倾听贷审会讨论，尝试进行提问，通过角色扮演陈述贷款案例；</p>
						<p>8.了解放款程序，能够向客户解释贷款流程；</p>
						<p>9.了解贷后监控。和培训师一起去回访贷款户以督促其还款；</p>
						<p>10.阅读微贷政策和流程。支行微贷部应对所有的微贷制度、表单、合同及临时规定进行专夹保管，培训生应反复进行阅读；</p>
						<p>11.阅读行为准则。培训生应多次阅读行为准则，并与主管或顾问开展讨论。</p>
						<p>一对一教授阶段</p>
						<p>第二阶段在岗培训需要4－8周，且难度和复杂程度增大，信贷员在这一阶段要逐步开始独立工作。</p>
						<p>达标要求</p>
						<p>信贷员三个月试用期后必须达到以下要求：在培训师的指导下发放贷款，但具体工作均由培训生来做，包括进行简单案例的调查，复杂案例在培训师的帮助下进行，能完整地地从客户处收集并核查数据，运用交叉检查方法；根据调查情况准备贷款调查报告；养成习惯性审贷思维质疑其他信贷员调查案例，从案例中识别主要风险点；能获得欠款催收的第一手经验；对周边市场、行业、客户有更加深入的了解，包括不同行业的经营特点、风险点及对还款能力的影响等。</p>
						<p>评估方式</p>
						<p>信贷员在实习期内，每月接受一次评估。评估的依据主要是信贷员在工作中的表现，并参考信贷员自己的工作总结，指出存在的问题，肯定取得的进步。</p>
						<p>只有那些主动积极并能迅速掌握工作要领的培训生才能够留下来。评估不合格的培训生会被辞退。个别情况会考虑延长培训期。</p>
						<p>后台人员培训</p>
						<p>学习阶段</p>
						<p>后台人员跟随后台培训师了解后台工作的操作流程及信贷规则。在这一阶段后台人员要完成以下工作：</p>
						<p>1.阅读和学习微贷业务基本规则；</p>
						<p>2.跟随指定后台信贷员熟悉后台工作的操作流程和贷款系统操作；</p>
						<p>3.了解放款所需的资料、文件、合同；</p>
						<p>4.实践在IT系统中录入咨询登记信息。</p>
						<p>实践阶段</p>
						<p>业务初期，后台人员的课堂培训是同信贷员一起进行的。随着业务发展，可结合实际情况调整后台人员的课堂培训内容。后台人员经过在岗培训后要满足硬指标和软指标两项要求。</p>
						<p>硬指标是指能够独立进行工作操作：</p>
						<p>1.掌握文件归档、维护及贷款系统操作。包括信贷文件的日常维护、贷款数据录入等；</p>
						<p>2.清楚地向客户解释合同条款，独立完成贷款发放；</p>
						<p>3.实时监督贷款进程、帮助信贷员完成贷款回收。</p>
						<p>软指标是指后台人员的责任感、团队合作能力要满足实际工作要求：</p>
						<p>1.管理技能。自觉维护办公环境的整洁、有序，熟悉日常事务，有效地完成贷款发放；</p>
						<p>2.控制能力。维护和核查信贷员递交的资料、文件，发现明显的错误和缺少、遗漏的信息；</p>
						<p>3.独立性及责任性。在没有或最低限度监督的情况下，有能力引导所有的工作步骤和鉴别存在的问题；</p>
						<p>4.团队精神。与银行其他职员间的合作情况良好；</p>
						<p>5.态度及服务定位。对目标群体持以良好的服务态度和服务意愿，工作职业化、标准化，体现出良好的企业形象和个人素质。</p>
						<p>评估方式</p>
						<p>后台人员在试用期内每月接受一次评估，支行微贷主管和后台培训师，结合后台人员的工作表现和自我总结，指出存在的问题，肯定取得的进步。三个月后通过评估的后台人员可以转正。</p>
						<p>培训重点</p>
						<p>微贷业务信贷队伍建设的重点要放在“能力”建设而不是“数量”建设上。业务开展初期，以微贷理念和技术方法的培训为主，通过岗位培训不断积累和充实行业知识。</p>
						<p>随着业务的发展，培训方案的设计应由技术培训为主转向能力培训为主。培养一支高素质微贷核心队伍。</p>
						
					</div>
				</div>
			</div>		
<!--**************************************************公开课程***********************************************-->		
			<div class="right" id="gkkc" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">银行内训</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > 银行内训 > <font color="#184554">公开课程</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%" id="gkkc1">
					<thead>
						<tr>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								银行服务礼仪规范
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								银行职业道德与从业操守
							</td>	
							<td class="text-right">2013-09-09</td>						
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								商业银行法律基础知识
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								银行员工职业精神与阳光心态塑造
							</td>
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								银行员工职业生涯规划与管理
							</td>
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								高效沟通技巧
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								金融市场学
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								银行票据业务基础知识
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								个人、公司金融业务及操作
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								电子银行、银行卡业务及操作
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								市场调研技术
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								小额贷款业务标准流程及系统处理流程介绍
							</td>	
							<td class="text-right">2013-09-09</td>						
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								信用卡、信用卡系统知识
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								小额贷款客户营销策略
							</td>
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								客户关系维护与管理
							</td>
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								小额贷款销售技巧
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								小额贷款贷后监控和风险防范
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								会计学、会计学报表基础
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								货币银行基础
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
						<tr class="bordered">
							<td>
								<img src="../../../static/img/list-style.png"/> 
								银行信息系统概要
							</td>	
							<td class="text-right">2013-09-09</td>
						</tr>	
					</tbody>
				</table>
			</div>					
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../../static/img/images/qk_12.png"/>
			<img src="../../../static/img/images/qk_15.png"/>
			<span><a href="http://www.cardpay-sh.com/">乾康（上海）金融信息服务有限公司</a>&nbsp;|&nbsp;<a href="http://qkoa.sinaapp.com/">OA</a></span><br/>
			<span>沪ICP备13001462号</span>
		</div>
	</div>
	<script type="text/javascript" src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../../static/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="../../../static/js/script.js"></script>
</body>
</html>
