<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>CardPay(Shanghai) Info Tech Co.,Ltd.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		*{font-family:Arial;}
		.H1{font-family:Arial;}
	</style>
</head>

<body>
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/xwdt" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/xwdt_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/index_En">Home</a></li>
				<li><a href="/gsjj_En">About Us</a></li>
				<li class="active"><a href="/xwdt_En">News</a></li>
				<li><a href="/jjfa_En">Business</a></li>
				<li><a href="/yhnx_En">Training</a></li>
				<li><a href="/cgal_En">Case</a></li>
				<li><a href="/hzhb_En">Partner</a></li>
				<li><a href="/jrzx_En">Financial</a></li>
				<li><a href="/zpxx_En">Recruit</a></li>
			</ul>
		</div>
		<div class="flash-replaced">
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../../static/img/content_En.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../../static/img/images/lmdh_En.png"/>
				<ul  id="gywm-list">
					<li class="active" onclick="change_div(this,'xwdt')"><a href="#">News</a></li>					
					<li onclick="change_div(this,'glwk')"><a href="#">Library</a></li>					
				</ul>
				<img src="../../../static/img/images/qk_11_En.png"/>
				<a href="http://www.cardpay-sh.com/"><img src="../../../static/img/images/qk_JRLogo.png" style="width:160px;margin-left:25px;"/></a>
			</div>
			<div class="right" id="xwdt">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> News</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <font color="#184554">News</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%">
					<tr class="bordered">
						<td>
							<img src="../../../static/img/list-style.png"/> 
							<a href="#" onclick="show('hzxy')">Our company reached an agreement with PTC</a>
							<img src="../../../static/img/new.png"/>
						</td>
						<td class="text-right">2013-11-15</td>
					</tr>
				</table>
				<div class="showPage">
					<span>Page: 1/1</span>
					<span class="pageNum" style="margin-left:480px;">First</span>					
					<span class="pageNum">Previous</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">Next</span>	
					<span class="pageNum">Last</span>				
				</div>
			</div>
<!--**************************************************公司与美国PTC达成合作协议***********************************************-->		
			<div class="right" id="hzxy" style="display:none">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">News</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <a onclick="show('jjfa')" href="#">News</a> > <font color="#184554">Our company reached an agreement with PTC</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<div class="jtxx">
					<h1 class="H1">Our company reached an agreement with PTC</h1>
					<div class="zz">Author：admin&nbsp;&nbsp;&nbsp;Published：2013-11-15 13:11:46</div>
					<div class="xx">
						<p>&nbsp;&nbsp;&nbsp;&nbsp;2013,CardPay(Shanghai) ranked first in the United States with the world of professional credit consulting company <span class="step">PTC（PROFIT TECHNOLOGIES COMPANY)</span> reached a strategic cooperation agreement. The two sides will jointly carry out retail business for the bank to provide comprehensive consulting services.</p>
					</div>
				</div>
			</div>	
<!--**************************************************管理文库***********************************************-->				
			<div class="right" id="glwk" style="display:none;">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title"> Library</span></td>
						<td class="pull-right">
							CardPay(Shanghai) > <font color="#184554">Library</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<table width="100%">
							
				</table>
				<div class="showPage">
					<span>Page: 1/1</span>
					<span class="pageNum" style="margin-left:480px;">First</span>					
					<span class="pageNum">Previous</span>	
					<span class="pageNum">1</span>
					<span class="pageNum">Next</span>	
					<span class="pageNum">Last</span>				
				</div>
			</div>	
		</div>
	
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../../static/img/images/qk_12.png"/>
			<img src="../../../static/img/images/qk_15.png"/>
			<span><a href="http://www.cardpay-sh.com/">CardPay(Shanghai) Finance Consulting Co.,Ltd.</a>&nbsp;|&nbsp;<a href="http://qkoa.sinaapp.com/">OA</a></span><br/>
			<span>Shanghai ICP for 13001462</span>
		</div>
	</div>
	<script type="text/javascript" src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="../../../static/js/script.js"></script>
</body>
</html>
