<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>乾康（上海）信息技术有限公司</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/main.css" rel="stylesheet">
	<style type="text/css">
		.code {background:#dedede;font-size:16px;font-family:Arial;font-style:italic;color:red;padding:5px;letter-spacing:3px;font-weight:bolder;border:1px solid black; } 
		*{font-family:Arial;}
	</style>
	<!-- ************************验证样式************************-->
	<script src="../../../static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="../../../static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
	<script src="../../../static/SpryAssets/SpryValidationTextarea.js" type="text/javascript"></script>
	<link href="../../../static/SpryAssets/SpryValidationTextarea.css" rel="stylesheet" type="text/css" />
</head>

<body onload="createCode('checkCode1');">
	<div class="main">
	<!--**************************************************top***********************************************-->
		<div class="logo">	
			<img src="../../../static/img/images/logo.png"/>
			<div style="margin-left:50px;">
				<a href="/xqfk" style="color:#828282;">中文</a><span style="color:#828282;">|</span>
				<a href="/xqfk_En" style="color:#828282;">English</a>
				<a href="http://profitinsight.com/" style="color:#828282;margin-left:8px;"><img src="../../../static/img/PROFI.png" style="height:30px;padding:13px 0;float:right;_display:none;"/></a>
			</div>			
		</div>
		<div class="nav">
			<ul>
				<li><a href="/">网站首页</a></li>
				<li class="active"><a href="/gsjj">关于我们</a></li>
				<li><a href="/xwdt">新闻动态</a></li>
				<li><a href="/jjfa">业务指南</a></li>
				<li><a href="/yhnx">银行内训</a></li>
				<li><a href="/cgal">成功案例</a></li>
				<li><a href="/hzhb">合作伙伴</a></li>
				<li><a href="/jrzx">金融咨询</a></li>
				<li><a href="/zpxx">招聘信息</a></li>
			</ul>
		</div>
		<div class="flash-replaced" >
			<embed width="1000" height="188" type="application/x-shockwave-flash" src="../../../static/img/content2.swf" pluginspage="http://www.adobe.com/go/getflashplayer" />
    	</div>

	<!--**************************************************content***********************************************-->
		<div class="content">
			<div class="left">
				<img src="../../../static/img/images/lmdh.png"/>
				<ul id="gywm-list">
					<li class="active" onclick="change_div(this,'khyjfk')"><a href="#">客户反馈意见</a></li>	
					<li onclick="change_div(this,'glzzxq');createCode('checkCode2')"><a href="#">管理咨询需求</a></li>
					<li onclick="change_div(this,'qynxxq');createCode('checkCode3')"><a href="#">企业内训需求</a></li>
					<li onclick="change_div(this,'zgrzxq');createCode('checkCode4')"><a href="#">资格认证需求</a></li>									
				</ul>
				<img src="../../../static/img/images/qk_11.png"/>
				<a href="http://qkcardpay.sinaapp.com/"><img src="../../../static/img/images/qk_JRLogo.png" style="width:160px;margin-left:25px;"/></a>
			</div>
	<!--**************************************************客户反馈意见***********************************************-->	
			<div class="right" id="khyjfk">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">客户反馈意见</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <font color="#184554">客户反馈意见</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<form class="opinion">
					<table width="100%">
						<tr>
							<td class="text-right" width="25%"><font color="red">*</font> 留言主题：</td>
							<td>
								<span id="spry_lyzt">
									<input type="text" id="lyzt" name="lyzt"> 
									<span class="textfieldRequiredMsg">留言主题不能为空</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="text-right"><font color="red">*</font> 留言内容：</td>
							<td>
								<span id="spry_lynr">
									<textarea name="lynr" id="lynr"></textarea>
									<span class="textareaRequiredMsg">留言内容不能为空</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="text-right"><font color="red">*</font> 客户名称：</td>
							<td>
								<span id="spry_khmc">
									<input type="text" id="khmc" name="khmc"> 
									<span class="textfieldRequiredMsg">客户名称不能为空</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="text-right">联 系 人：</td>
							<td><input type="text"/></td>
						</tr>	
						<tr>
							<td class="text-right"><font color="red">*</font> 联系电话：</td>
							<td>
								<span id="spry_lxdh">
									<input type="text" id="lxdh" name="lxdh"> 
									<span class="textfieldRequiredMsg">联系电话不能为空</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="text-right">QQ / MSN：</td>
							<td><input type="text"/></td>
						</tr>
						<tr>
							<td class="text-right">验 证 码：</td>
							<td height="20px">
								<input type="text" id="input1" style="width:50px;"/>
								<span onclick="createCode('checkCode1')" id="checkCode1"></span>
								<span onclick="createCode('checkCode1')" style="cursor:pointer;">&nbsp;看不清楚？更换一张</span>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="submit" value="提交" onclick="validate('input1','checkCode1');" style="background:#dcd9d4;border:none;padding:5px;width:50px;"/>
								<input type="reset" value="重置" onclick="createCode('checkCode1');"style="background:#dcd9d4;border:none;padding:5px;width:50px;"/>
							</td>
						</tr>
					</table>	
				</form>
			</div>	
	<!--**************************************************管理咨询需求***********************************************-->	
			<div class="right" id="glzzxq" style="display:none;">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">管理咨询需求</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <font color="#184554">管理咨询需求</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<form class="opinion">
					<table width="100%">
						<tr>
							<td class="text-right" width="25%"><font color="red">*</font> 单位名称：</td>
							<td>
								<span id="spry_dwmc">
									<input type="text" id="dwmc" name="dwmc"> 
									<span class="textfieldRequiredMsg">单位名称不能为空</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="text-right">单位地址：</td>							
							<td><input type="text"/></td>
						</tr>
						<tr>
							<td class="text-right"><font color="red">*</font> 联 系 人：</td>
							<td>
								<span id="spry_lxr">
									<input type="text" id="lxr" name="lxr"> 
									<span class="textfieldRequiredMsg">联系人不能为空</span>
								</span>
							</td>
						</tr>	
						<tr>
							<td class="text-right"><font color="red">*</font> 联系电话：</td>
							<td>
								<span id="spry_lxrdh">
									<input type="text" id="lxrdh" name="lxrdh"> 
									<span class="textfieldRequiredMsg">联系电话不能为空</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="text-right">公司传真：</td>
							<td><input type="text"/></td>
						</tr>
						<tr>
							<td class="text-right"><font color="red">*</font> 电子邮箱：</td>
							<td>
								<span id="spry_dzyx">
									<input type="text" name="dzyx" id="dzyx" />
									<span class="textfieldRequiredMsg">电子邮箱不能为空</span>
									<span class="textfieldInvalidFormatMsg">格式不正确</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="text-right">单位网址：</td>
							<td><input type="text"/></td>
						</tr>
						<tr>
							<td class="text-right">邮政编码：</td>
							<td><input type="text"/></td>
						</tr>
						<tr>
							<td class="text-right"><font color="red">*</font> 咨询内容：</td>
							<td>
								<span id="spry_zxnr">
									<textarea name="zxnr" id="zxnr"></textarea>
									<span class="textareaRequiredMsg">咨询内容不能为空</span>
								</span>
							</td>
						</tr>
						<tr>
							<td class="text-right">验 证 码：</td>
							<td height="20px">
								<input type="text" id="input2" style="width:50px;"/>
								<span onclick="createCode('checkCode2')" id="checkCode2"></span>
								<span onclick="createCode('checkCode2')" style="cursor:pointer;">&nbsp;看不清楚？更换一张</span>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="submit" value="提交" onclick="validate('input2','checkCode2');" style="background:#dcd9d4;border:none;padding:5px;width:50px;"/>
								<input type="reset" value="重置" onclick="createCode('checkCode2');"style="background:#dcd9d4;border:none;padding:5px;width:50px;"/>
							</td>
						</tr>
					</table>	
				</form>
			</div>			
	<!--**************************************************企业内训需求***********************************************-->	
			<div class="right" id="qynxxq" style="display:none;">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">企业内训需求</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <font color="#184554">企业内训需求</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<form class="opinion">
					<table width="100%">
						
						<tr>
							<td class="text-right"  width="25%">验 证 码：</td>
							<td height="20px">
								<input type="text" id="input3" style="width:50px;"/>
								<span onclick="createCode('checkCode3')" id="checkCode3"></span>
								<span onclick="createCode('checkCode3')" style="cursor:pointer;">&nbsp;看不清楚？更换一张</span>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="submit" value="提交" onclick="validate('input3','checkCode3');" style="background:#dcd9d4;border:none;padding:5px;width:50px;"/>
								<input type="reset" value="重置" onclick="createCode('checkCode3');"style="background:#dcd9d4;border:none;padding:5px;width:50px;"/>
							</td>
						</tr>
					</table>	
				</form>
			</div>	
	<!--**************************************************企业内训需求***********************************************-->	
			<div class="right" id="zgrzxq" style="display:none;">
				<table width="100%">
					<tr>
						<td><img src="../../../static/img/tip.png"/><span class="title">资格认证需求</span></td>
						<td class="pull-right">
							乾康（上海）信息技术有限公司 > <font color="#184554">资格认证需求</font>
						</td>
					</tr>
				</table>
				<div class="fengge"></div>
				<form class="opinion">
					<table width="100%">
						
						<tr>
							<td class="text-right"  width="25%">验 证 码：</td>
							<td height="20px">
								<input type="text" id="input4" style="width:50px;"/>
								<span onclick="createCode('checkCode4')" id="checkCode4"></span>
								<span onclick="createCode('checkCode4')" style="cursor:pointer;">&nbsp;看不清楚？更换一张</span>
							</td>
						</tr>
						<tr>
							<td></td>
							<td>
								<input type="submit" value="提交" onclick="validate('input4','checkCode4');" style="background:#dcd9d4;border:none;padding:5px;width:50px;"/>
								<input type="reset" value="重置" onclick="createCode('checkCode4');"style="background:#dcd9d4;border:none;padding:5px;width:50px;"/>
							</td>
						</tr>
					</table>	
				</form>
			</div>	
		</div>
	<!--**************************************************foot***********************************************-->
		<div class="foot">
			<img src="../../../static/img/images/qk_12.png"/>
			<img src="../../../static/img/images/qk_15.png"/>
			<span><a href="http://qkcardpay.sinaapp.com/">乾康（上海）金融信息服务有限公司</a>&nbsp;|&nbsp;<a href="http://qkoa.sinaapp.com/">OA</a></span><br/>
			<span>沪ICP备13001462号</span>
		</div>
	</div>
	<script src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../../static/js/script.js"></script>
	<script src="../../../static/js/yzm.js"></script>
	<script type="text/javascript">
		var sprytextfield1 = new Spry.Widget.ValidationTextField("spry_lyzt", "none", {validateOn:["blur"]});
		var sprytextarea1 = new Spry.Widget.ValidationTextarea("spry_lynr", {validateOn:["blur"]});
		var sprytextfield2 = new Spry.Widget.ValidationTextField("spry_khmc", "none", {validateOn:["blur"]});
		var sprytextfield3 = new Spry.Widget.ValidationTextField("spry_lxdh", "none", {validateOn:["blur"]});		
		var sprytextfield4 = new Spry.Widget.ValidationTextField("spry_dwmc", "none", {validateOn:["blur"]});	
		var sprytextfield5 = new Spry.Widget.ValidationTextField("spry_lxr", "none", {validateOn:["blur"]});
		var sprytextfield6 = new Spry.Widget.ValidationTextField("spry_lxrdh", "none", {validateOn:["blur"]});
		var sprytextfield7 = new Spry.Widget.ValidationTextField("spry_dzyx", "email", {validateOn:["blur"]});
		var sprytextarea2 = new Spry.Widget.ValidationTextarea("spry_zxnr", {validateOn:["blur"]});
	</script>
</body>
</html>
